<header>
  <h1 style="text-align: center;">Menú Jefatura</h1>
</header>

<main>
  <div style="display: flex; justify-content: center; margin-top: 20px;">
    <!-- Botón para ver el horario -->
    <button style="padding: 10px 20px; margin: 10px;" routerLink="/menu-jefatura/horario">Ver Horario</button>

    <!-- Botón para ver el stock de productos -->
    <button style="padding: 10px 20px; margin: 10px;" routerLink="/menu-jefatura/buscar-producto">Ver Stock de Productos</button>
  </div>
</main>

  