<h2>Horario del Trabajador - Octubre 2024</h2>
<table border="1" style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th>Día</th>
      <th>Fecha</th>
      <th>Horario</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Miércoles</td>
      <td>01/10/2024</td>
      <td>08:00 - 13:00</td>
    </tr>
    <tr>
      <td>Jueves</td>
      <td>02/10/2024</td>
      <td>08:00 - 13:00</td>
    </tr>
    <tr>
      <td>Viernes</td>
      <td>03/10/2024</td>
      <td>08:00 - 13:00</td>
    </tr>
    <tr>
      <td>Sábado</td>
      <td>04/10/2024</td>
      <td>08:00 - 13:00</td>
    </tr>
    <!-- Añade más días según sea necesario -->
  </tbody>
</table>
