<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Proyectos Realizados</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      Los Proyectos Realizados Son Los Siguientes...
      <div>
        <a href="https://www.reddit.com/r/Helldivers/comments/1bt9xar/breaking_news_malevelon_creek_has_been_liberated/#lightbox" target="_blank">Liberación del Creek</a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
